.header {
    padding: 134px 0;
    background-image: url(../img/header_kubischok-badgestaltung-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  7%;
    background-position-x: center;
}
