.kontakt {
    background-image: url(../img/bg_blau2.jpg);
    padding: $paddingSection;
    background-position: center;
    color: #fff;
}
.kontakt__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.kontakt__inner {
}
.kontakt__smallTxt {
    font-size: 20px;
}
.kontakt__title {
    @include title;
    color: #fff;
}
.linkBtn {
    @include btn
}